.server-list {
  @apply flex flex-col gap-4;
}

.server {
  @apply bg-zinc-800 text-zinc-300 rounded-lg p-4 gap-4 flex flex-row items-center;
}

.server.selected {
  @apply bg-pink-700 cursor-default;
}

.server-name {
  @apply text-2xl mb-2 text-white;
}

.server-stats {
  @apply grid grid-cols-4 gap-8;
  grid-template-columns: 4em 6em 8em auto;
}

.server-stat svg {
  @apply w-5 inline align-text-bottom;
}

.server-icon {
  @apply shrink-0;
}

.server-icon svg,
.server-actions svg {
  @apply w-10;
}

.server-actions {
  @apply flex flex-row gap-4;
}

.server-actions a {
  @apply cursor-pointer text-center flex flex-col items-center hover:text-white opacity-80 hover:opacity-100 gap-1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  @apply w-6 ml-2 inline align-text-bottom;
  transform-origin: center;
  animation: spin 3s linear infinite;
}


.server-list-header {
  @apply flex flex-row mt-4;
}

.server-list-header h2 {
  @apply flex-grow;
}

.server-list-header button {
  @apply bg-zinc-800 hover:bg-zinc-700 p-2 ml-2 my-2 text-white rounded-lg disabled:text-zinc-700 disabled:bg-zinc-900;
}

.server-list-header button.selected {
  @apply bg-pink-700 text-white;
}

.server-list-header svg {
  @apply w-6 opacity-80 hover:opacity-100;
}
