.server-list {
  @apply flex flex-col gap-2;
}

.server {
  @apply bg-base-200 text-neutral-content rounded-lg p-3 gap-2 w-full flex flex-row items-center;
}

.server-name {
  @apply text-xl mb-2 text-accent;
}

.server.selected {
  @apply bg-primary text-primary-content cursor-default;
}

.server.selected .server-name {
  @apply text-white;
}

.server-stats {
  @apply grid gap-x-2 gap-y-2 text-xs md:text-sm md:gap-x-8 md:gap-y-4 grid-cols-2 md:grid-cols-[4em_6em_8em_auto];
}

.server-stat svg {
  @apply w-5 inline align-text-bottom;
}

.server-icon {
  @apply shrink-0;
}

.server-icon svg,
.server-actions svg {
  @apply w-8;
}

.server-actions {
  @apply flex flex-row gap-2 hidden md:flex;
}

.server-actions a {
  @apply cursor-pointer text-center flex flex-col items-center hover:text-white opacity-80 hover:opacity-100 gap-1;
}
